/* general styles */
@font-face { /*custom font JetBrains*/
    font-family: "JetBrains Mono";
    src: url("media/JetBrainsMono-Regular.ttf");
}

p {
    color: #ffffff;
    font-size: 24px;
    cursor: default;
}

/* title size */
h1 {
    color: #ffffff;
    font-size: 40px;
    cursor: default;
    z-index: 2;
}

h2 {
    color: #ffffff;
    font-size: 30px;
    cursor: default;
    z-index: 2;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "JetBrains Mono", sans-serif;
    background-color: #212738;
    margin: 0;
    padding: 0;
    padding-left: 32px;
    padding-right: 32px;
}

header {
    padding: 80px;
}

/* classes */

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* website title */
.main_title {
    color: #ffffff;
    font-size: 30px;
    text-align: left;
    position: absolute;
    margin-top: 10px;
    left: 46px;
    opacity: 1;
    z-index: 1;
    top: 6px;
}

.title_decor {
    background-color: var(--web_color);;
    position: absolute;
    width: 0px;
    height: 70%;
    top: 16px;
    left: -14px;
    transition: 0.5s all;
}

.bg_title_decor {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    top: -5px;
    left: -5px;
    z-index: -2;
    transition: 0.6s all;
}

.date_div {
    padding-left: 4%;
}

.main_div {
    padding-left: 5%;
}